# Install MySQL connector module
pip install mysql-connector-python

In [71]:
# importing required libraries
import mysql.connector

In [72]:
database = mysql.connector.connect(
  host ="localhost",
  user ="root",
  passwd ="24122004"
)
 
print(database)

<mysql.connector.connection_cext.CMySQLConnection object at 0x0000028693B1ECD0>

In [73]:
# preparing a cursor object
cursorObject = database.cursor()

In [76]:
# Create databse
cursorObject.execute("CREATE DATABASE STUDENT_INFORMATION")

In [77]:
# Connect to database: 

if database .is_connected():
        db_Info = database.get_server_info()
        print("Connected to MySQL Server version ", db_Info)
        cursor = database.cursor()
        #Use the cursor() method of a MySQLConnection object to create a cursor object to perform various SQL operations.
        # The execute() methods run the SQL query and return the result.
        cursor.execute("USE STUDENT_INFORMATION;")

        # Extract results: 
        record = cursor.fetchone()     
        print("Connected to database", record)

Connected to MySQL Server version  8.1.0
Connected to database None

In [75]:
# Drop database
try: 
    cursorObject.execute("DROP DATABASE IF EXISTS STUDENT_INFORMATION")
    print("Drop database")
except: 
    database.rollback()    # Roll back database

Drop database

In [30]:
# Create databse
cursorObject.execute("CREATE DATABASE STUDENT_INFORMATION")

In [94]:
# Create table Classes: 
cursor.execute("USE STUDENT_INFORMATION;")
courses = """CREATE TABLE CLASSES( 
    COURSE_TITLE VARCHAR(225) NOT NULL,
    COURSE_ID VARCHAR(50) NOT NULL,
    PRIMARY KEY(COURSE_ID),
    SCHEDULE varchar(225),
    ROOM int,
    LOCATION varchar(225))"""

# Notify: 

cursor = database.cursor()
Result = cursor.execute(courses)
print("Table CLASSES created successfully ")

Table CLASSES created successfully

In [95]:
# Create table international student: 

# add foreign key class ID references course ID in table classes

cursor.execute("USE STUDENT_INFORMATION;")
studentRecord = """CREATE TABLE INTERNATIONAL_STUDENT( 
    NAME VARCHAR(20) NOT NULL,
    STUDENT_ID INT NOT NULL AUTO_INCREMENT, 
    PRIMARY KEY(STUDENT_ID),
    ADDRESS VARCHAR(50),
    GENDER VARCHAR(50),
    AGE INT, 
    CLASS_ID VARCHAR(50),
    INDEX (CLASS_ID),
    FOREIGN KEY (CLASS_ID) REFERENCES CLASSES(COURSE_ID))"""

# Notify: 

cursor = database.cursor()
Result = cursor.execute(studentRecord)
print("Student Record created successfully ")

Student Record created successfully

In [92]:
cursorObject.execute("drop table international_student;")

In [93]:
cursorObject.execute("drop table classes;")

In [96]:
# Insert data into table Classes: 
cursorObject. execute("INSERT INTO CLASSES (COURSE_TITLE, COURSE_ID, SCHEDULE, ROOM, LOCATION) VALUES ('Information_security','INS306203','Wednesday',601,'Xuan_Thuy')")
cursorObject. execute("INSERT INTO CLASSES (COURSE_TITLE, COURSE_ID, SCHEDULE, ROOM, LOCATION) VALUES ('Economic_Statistics','INS200401','Monday',402,'TVB')")
cursorObject. execute("INSERT INTO CLASSES (COURSE_TITLE, COURSE_ID, SCHEDULE, ROOM, LOCATION) VALUES ('Advanced_Mathematics','MAT109207','Tuesday',601,'Hacinco')")
cursorObject. execute("INSERT INTO CLASSES (COURSE_TITLE, COURSE_ID, SCHEDULE, ROOM, LOCATION) VALUES ('Microeconomics','INE105005','Wednesday',601,'Xuan_Thuy')")
cursorObject. execute("INSERT INTO CLASSES (COURSE_TITLE, COURSE_ID, SCHEDULE, ROOM, LOCATION) VALUES ('Fundamentals_of_Finance','INS201505','Tuesday',407,'TVB')")
cursorObject. execute("INSERT INTO CLASSES (COURSE_TITLE, COURSE_ID, SCHEDULE, ROOM, LOCATION) VALUES ('Introduction_to_Data Science','INS325401','Thursday',604,'TVB')")
cursorObject. execute("INSERT INTO CLASSES (COURSE_TITLE, COURSE_ID, SCHEDULE, ROOM, LOCATION) VALUES ('Econometrics','INS304902','Thursday',506,'Hacinco')")
cursorObject. execute("INSERT INTO CLASSES (COURSE_TITLE, COURSE_ID, SCHEDULE, ROOM, LOCATION) VALUES ('Databases','INS208004','Wednesday',401,'TVB')")

In [98]:
# Insert data into table International_student: 
cursorObject. execute("INSERT INTO INTERNATIONAL_STUDENT (NAME, ADDRESS, GENDER, AGE, CLASS_ID) VALUES ('Phuong','Hanoi','Female', 18, 'INS306203')")
cursorObject. execute("INSERT INTO INTERNATIONAL_STUDENT(NAME, ADDRESS, GENDER, AGE, CLASS_ID) VALUES ('An','Thai_Binh','Male', 19, 'INS200401')")
cursorObject.execute("INSERT INTO INTERNATIONAL_STUDENT (NAME, ADDRESS, GENDER, AGE, CLASS_ID) VALUES ('PA','Hoa_Binh','Female', 19, 'MAT109207')")
cursorObject.execute("INSERT INTO INTERNATIONAL_STUDENT (NAME, ADDRESS, GENDER, AGE, CLASS_ID) VALUES ('Ninh_Hai','Hai_Duong','Female', 19,'INE105005')")
cursorObject.execute("INSERT INTO INTERNATIONAL_STUDENT (NAME, ADDRESS, GENDER, AGE, CLASS_ID) VALUES ('Duc_Nam','Tuyen_Quang','Male', 20,'INS201505')")
cursorObject. execute("INSERT INTO INTERNATIONAL_STUDENT (NAME, ADDRESS, GENDER, AGE, CLASS_ID) VALUES ('Hoa_Ngoc','Hung_Yen','Female', 19, 'INS325401')")
cursorObject. execute("INSERT INTO INTERNATIONAL_STUDENT (NAME, ADDRESS, GENDER, AGE, CLASS_ID) VALUES ('Thanh_Phuong','Nam_Dinh','Male', 20,'INS304902')")
cursorObject. execute("INSERT INTO INTERNATIONAL_STUDENT (NAME, ADDRESS, GENDER, AGE, CLASS_ID) VALUES ('Trung','Ha_Noi','Male', 22,'INS208004')")

print("Insert completed")

Insert completed

In [99]:
# Print data from table International student: 
cursorObject.execute("""SELECT * FROM INTERNATIONAL_STUDENT""")
student_data= cursorObject.fetchall()
for i in student_data: 
    print(i)

('Phuong', 1, 'Hanoi', 'Female', 18, 'INS306203')
('An', 2, 'Thai_Binh', 'Male', 19, 'INS200401')
('Phuong', 3, 'Hanoi', 'Female', 18, 'INS306203')
('An', 4, 'Thai_Binh', 'Male', 19, 'INS200401')
('PA', 5, 'Hoa_Binh', 'Female', 19, 'MAT109207')
('Ninh_Hai', 6, 'Hai_Duong', 'Female', 19, 'INE105005')
('Duc_Nam', 7, 'Tuyen_Quang', 'Male', 20, 'INS201505')
('Hoa_Ngoc', 8, 'Hung_Yen', 'Female', 19, 'INS325401')
('Thanh_Phuong', 9, 'Nam_Dinh', 'Male', 20, 'INS304902')
('Trung', 10, 'Ha_Noi', 'Male', 22, 'INS208004')

In [101]:
# Print the table Classes: 
cursorObject.execute("""SELECT * FROM CLASSES""")
student_data= cursorObject.fetchall()
for i in student_data: 
    print(i)

('Microeconomics', 'INE105005', 'Wednesday', 601, 'Xuan_Thuy')
('Economic_Statistics', 'INS200401', 'Monday', 402, 'TVB')
('Fundamentals_of_Finance', 'INS201505', 'Tuesday', 407, 'TVB')
('Databases', 'INS208004', 'Wednesday', 401, 'TVB')
('Econometrics', 'INS304902', 'Thursday', 506, 'Hacinco')
('Information_security', 'INS306203', 'Wednesday', 601, 'Xuan_Thuy')
('Introduction_to_Data Science', 'INS325401', 'Thursday', 604, 'TVB')
('Advanced_Mathematics', 'MAT109207', 'Tuesday', 601, 'Hacinco')

In [102]:
# Update data: 
student_update = "UPDATE INTERNATIONAL_STUDENT SET AGE = 21 WHERE NAME = 'Duc_Nam'"
cursorObject.execute(student_update)
database.commit()
print("Updated sucessfully")

Updated sucessfully

In [103]:
# DELETE DATA FROM TABLE: 
query = "DELETE FROM INTERNATIONAL_STUDENT WHERE STUDENT_ID = 3"
cursorObject.execute(query)
database.commit()

In [104]:
# Print data again from table International student: 
cursorObject.execute("""SELECT * FROM INTERNATIONAL_STUDENT""")
student_data= cursorObject.fetchall()
for i in student_data: 
    print(i)

('Phuong', 1, 'Hanoi', 'Female', 18, 'INS306203')
('An', 2, 'Thai_Binh', 'Male', 19, 'INS200401')
('An', 4, 'Thai_Binh', 'Male', 19, 'INS200401')
('PA', 5, 'Hoa_Binh', 'Female', 19, 'MAT109207')
('Ninh_Hai', 6, 'Hai_Duong', 'Female', 19, 'INE105005')
('Duc_Nam', 7, 'Tuyen_Quang', 'Male', 21, 'INS201505')
('Hoa_Ngoc', 8, 'Hung_Yen', 'Female', 19, 'INS325401')
('Thanh_Phuong', 9, 'Nam_Dinh', 'Male', 20, 'INS304902')
('Trung', 10, 'Ha_Noi', 'Male', 22, 'INS208004')

In [48]:
cursorObject.execute("""SELECT INTERNATIONAL_STUDENT.NAME,CLASSES.COURSE_TITLE
                     FROM INTERNATIONAL_STUDENT
                     CROSS JOIN CLASSES
                     WHERE INTERNATIONAL_STUDENT.CLASS_ID= CLASSES.CLASS_ID""")

InternalError: Unread result found