# Install MySQL connector module
pip install mysql-connector-python

In [1]:
# importing required libraries
import mysql.connector

In [2]:
database = mysql.connector.connect(
  host ="localhost",
  user ="root",
  passwd ="24122004"
)
 
print(database)

<mysql.connector.connection_cext.CMySQLConnection object at 0x000001C82C44AA90>

In [3]:
# preparing a cursor object
cursorObject = database.cursor()

In [4]:
if database .is_connected():
        db_Info = database.get_server_info()
        print("Connected to MySQL Server version ", db_Info)
        cursor = database.cursor()
        #Use the cursor() method of a MySQLConnection object to create a cursor object to perform various SQL operations.
        # The execute() methods run the SQL query and return the result.
        cursor.execute("USE STUDENT_INFORMATION;")

        # Extract results: 
        record = cursor.fetchone()     
        print("Connected to database", record)

Connected to MySQL Server version  8.1.0
Connected to database None

In [5]:
# creating database
cursorObject.execute("DROP DATABASE IF EXISTS STUDENT_INFORMATION")

In [6]:
cursorObject.execute("CREATE DATABASE STUDENT_INFORMATION")

In [7]:
# Creating table: 

cursor.execute("USE STUDENT_INFORMATION;")
studentRecord = """CREATE TABLE INTERNATIONAL_STUDENT( 
    NAME VARCHAR(20) NOT NULL,
STUDENT_ID INT NOT NULL, 
ADDRESS VARCHAR(50),
GENDER VARCHAR(50),
AGE INT , 
RELATIONSHIP VARCHAR(50))"""

# Notify: 

cursor = database.cursor()
Result = cursor.execute(studentRecord)
print("Student Record created successfully ")

Student Record created successfully

In [8]:
# Insert data into table: 
cursorObject. execute("INSERT INTO INTERNATIONAL_STUDENT VALUES ('Phuong', 22070782,'Hanoi','Female', 18, 'In a relationship')")
cursorObject. execute("INSERT INTO INTERNATIONAL_STUDENT VALUES ('An', 22070632,'Thai_Binh','Male', 19, 'In a relationship')")
cursorObject.execute("INSERT INTO INTERNATIONAL_STUDENT VALUES ('PA', 22070645,'Hoa_Binh','Female', 19, 'In a relationship')")
cursorObject.execute("INSERT INTO INTERNATIONAL_STUDENT VALUES ('Ninh_Hai', 2207082,'Hai_Duong','Female', 19, 'In a relationship')")
cursorObject.execute("INSERT INTO INTERNATIONAL_STUDENT VALUES ('Duc_Nam', 21060742,'Tuyen_Quang','Male', 20, 'Single')")
print("Insert completed")
database.commit()

Insert completed

In [9]:
cursorObject. execute("INSERT INTO INTERNATIONAL_STUDENT VALUES ('Phuong', 22070782,'Hanoi','Female', 18, 'In a relationship')")

In [15]:
# Way 1: 

cursorObject= database. cursor()
information_select= """SELECT * FROM INTERNATIONAL_STUDENT"""
cursorObject.execute(information_select)
student_data= cursorObject.fetchall()
for i in student_data:
    print(i)

('Phuong', 22070782, 'Hanoi', 'Female', 18, 'In a relationship')
('An', 22070632, 'Thai_Binh', 'Male', 19, 'In a relationship')
('PA', 22070645, 'Hoa_Binh', 'Female', 19, 'In a relationship')
('Ninh_Hai', 2207082, 'Hai_Duong', 'Female', 19, 'In a relationship')
('Duc_Nam', 21060742, 'Tuyen_Quang', 'Male', 20, 'Single')
('Phuong', 22070782, 'Hanoi', 'Female', 18, 'In a relationship')

In [14]:
# Way 2: 
cursorObject.execute("""SELECT * FROM INTERNATIONAL_STUDENT""")
student_data= cursorObject.fetchall()
for i in student_data: 
    print(i)

('Phuong', 22070782, 'Hanoi', 'Female', 18, 'In a relationship')
('An', 22070632, 'Thai_Binh', 'Male', 19, 'In a relationship')
('PA', 22070645, 'Hoa_Binh', 'Female', 19, 'In a relationship')
('Ninh_Hai', 2207082, 'Hai_Duong', 'Female', 19, 'In a relationship')
('Duc_Nam', 21060742, 'Tuyen_Quang', 'Male', 20, 'Single')
('Phuong', 22070782, 'Hanoi', 'Female', 18, 'In a relationship')

In [26]:
# Update data: 
student_update = "UPDATE INTERNATIONAL_STUDENT SET AGE = 21 WHERE NAME = 'Duc_Nam'"
cursorObject.execute(student_update)
database.commit()
print("Updated sucessfully")

Updated sucessfully

In [35]:
cursorObject.execute("""SELECT * FROM INTERNATIONAL_STUDENT""")
student_data= cursorObject.fetchall()
for i in student_data: 
    print(i)

('An', 22070632, 'Thai_Binh', 'Male', 19, 'In a relationship')
('PA', 22070645, 'Hoa_Binh', 'Female', 19, 'In a relationship')
('Ninh_Hai', 2207082, 'Hai_Duong', 'Female', 19, 'In a relationship')
('Duc_Nam', 21060742, 'Tuyen_Quang', 'Male', 21, 'Single')
('Phuong', 22070782, 'Hanoi', 'Female', 18, 'In a relationship')

In [34]:
# DELETE DATA FROM TABLE: 
query = "DELETE FROM INTERNATIONAL_STUDENT WHERE NAME = 'Phuong'"
cursorObject.execute(query)
database.commit()
cursorObject. execute("INSERT INTO INTERNATIONAL_STUDENT VALUES ('Phuong', 22070782,'Hanoi','Female', 18, 'In a relationship')")

In [36]:
cursor.execute("USE STUDENT_INFORMATION;")
studentRecord = """CREATE TABLE INTERNATIONAL_STUDENT( 
    NAME VARCHAR(20) NOT NULL,
STUDENT_ID INT NOT NULL, 
ADDRESS VARCHAR(50),
GENDER VARCHAR(50),
AGE INT , 
RELATIONSHIP VARCHAR(50))"""

# Notify: 

cursor = database.cursor()
Result = cursor.execute(studentRecord)
print("Student Record created successfully ")

ProgrammingError: 1049 (42000): Unknown database 'subject_information'