# Install MySQL connector module
pip install mysql-connector-python

In [1]:
# importing required libraries
import mysql.connector

In [2]:
database = mysql.connector.connect(
  host ="localhost",
  user ="root",
  passwd ="24122004"
)
 
print(database)

<mysql.connector.connection_cext.CMySQLConnection object at 0x0000015700431590>

In [3]:
# preparing a cursor object
cursorObject = database.cursor()

In [5]:
# Create databse
cursorObject.execute("CREATE DATABASE STUDENT_INFORMATION")

In [6]:
# Connect to database: 

if database .is_connected():
        db_Info = database.get_server_info()
        print("Connected to MySQL Server version ", db_Info)
        cursor = database.cursor()
        #Use the cursor() method of a MySQLConnection object to create a cursor object to perform various SQL operations.
        # The execute() methods run the SQL query and return the result.
        cursor.execute("USE STUDENT_INFORMATION;")

        # Extract results: 
        record = cursor.fetchone()     
        print("Connected to database", record)

Connected to MySQL Server version  8.1.0
Connected to database None

In [13]:
# Drop database
try: 
    cursorObject.execute("DROP DATABASE IF EXISTS STUDENT_INFORMATION")
    print("Drop database")
except: 
    database.rollback()    # Roll back database

Drop database

In [14]:
# Create databse
cursorObject.execute("CREATE DATABASE STUDENT_INFORMATION")

In [15]:
# Creating table: 

cursor.execute("USE STUDENT_INFORMATION;")
studentRecord = """CREATE TABLE INTERNATIONAL_STUDENT( 
    NAME VARCHAR(20) NOT NULL,
STUDENT_ID INT PRIMARY KEY, 
ADDRESS VARCHAR(50),
GENDER VARCHAR(50),
AGE INT, 
COURSE_ID VARCHAR(50))"""

# Notify: 

cursor = database.cursor()
Result = cursor.execute(studentRecord)
print("Student Record created successfully ")

Student Record created successfully

In [16]:
# Insert data into table: 
cursorObject. execute("INSERT INTO INTERNATIONAL_STUDENT VALUES ('Phuong', 22070782,'Hanoi','Female', 18,'INS306203')")
cursorObject. execute("INSERT INTO INTERNATIONAL_STUDENT VALUES ('An', 22070632,'Thai_Binh','Male', 19, 'INS208004')")
cursorObject.execute("INSERT INTO INTERNATIONAL_STUDENT VALUES ('PA', 22070645,'Hoa_Binh','Female', 19, 'INS304902')")
cursorObject.execute("INSERT INTO INTERNATIONAL_STUDENT VALUES ('Ninh_Hai', 22070682,'Hai_Duong','Female', 19, 'INS325401')")
cursorObject.execute("INSERT INTO INTERNATIONAL_STUDENT VALUES ('Duc_Nam', 21060742,'Tuyen_Quang','Male', 20, 'INS201505')")
cursorObject. execute("INSERT INTO INTERNATIONAL_STUDENT VALUES ('Hoa_Ngoc', 22070613,'Hung_Yen','Female', 19,'INE105005')")
cursorObject. execute("INSERT INTO INTERNATIONAL_STUDENT VALUES ('Thanh_Phuong', 21060809,'Nam_Dinh','Male', 20,'MAT109207')")
cursorObject. execute("INSERT INTO INTERNATIONAL_STUDENT VALUES ('Trung', 21080792,'Ha_Noi','Male', 22, 'INS200401')")

print("Insert completed")
database.commit()

Insert completed

In [17]:
# Print data from table: 
cursorObject.execute("""SELECT * FROM INTERNATIONAL_STUDENT""")
student_data= cursorObject.fetchall()
for i in student_data: 
    print(i)

('Duc_Nam', 21060742, 'Tuyen_Quang', 'Male', 20, 'INS201505')
('Thanh_Phuong', 21060809, 'Nam_Dinh', 'Male', 20, 'MAT109207')
('Trung', 21080792, 'Ha_Noi', 'Male', 22, 'INS200401')
('Hoa_Ngoc', 22070613, 'Hung_Yen', 'Female', 19, 'INE105005')
('An', 22070632, 'Thai_Binh', 'Male', 19, 'INS208004')
('PA', 22070645, 'Hoa_Binh', 'Female', 19, 'INS304902')
('Ninh_Hai', 22070682, 'Hai_Duong', 'Female', 19, 'INS325401')
('Phuong', 22070782, 'Hanoi', 'Female', 18, 'INS306203')

In [18]:
# Update data: 
student_update = "UPDATE INTERNATIONAL_STUDENT SET AGE = 21 WHERE NAME = 'Duc_Nam'"
cursorObject.execute(student_update)
database.commit()
print("Updated sucessfully")

Updated sucessfully

In [19]:
# Print the table: 
cursorObject.execute("""SELECT * FROM INTERNATIONAL_STUDENT""")
student_data= cursorObject.fetchall()
for i in student_data: 
    print(i)

('Duc_Nam', 21060742, 'Tuyen_Quang', 'Male', 21, 'INS201505')
('Thanh_Phuong', 21060809, 'Nam_Dinh', 'Male', 20, 'MAT109207')
('Trung', 21080792, 'Ha_Noi', 'Male', 22, 'INS200401')
('Hoa_Ngoc', 22070613, 'Hung_Yen', 'Female', 19, 'INE105005')
('An', 22070632, 'Thai_Binh', 'Male', 19, 'INS208004')
('PA', 22070645, 'Hoa_Binh', 'Female', 19, 'INS304902')
('Ninh_Hai', 22070682, 'Hai_Duong', 'Female', 19, 'INS325401')
('Phuong', 22070782, 'Hanoi', 'Female', 18, 'INS306203')

In [20]:
# DELETE DATA FROM TABLE: 
query = "DELETE FROM INTERNATIONAL_STUDENT WHERE NAME = 'Phuong'"
cursorObject.execute(query)
database.commit()
cursorObject. execute("INSERT INTO INTERNATIONAL_STUDENT VALUES ('Phuong', 22070782,'Hanoi','Female', 18, 'INS306203')")

In [24]:
cursor.execute("USE STUDENT_INFORMATION;")
courses = """CREATE TABLE CLASSES( 
    COURSE_TITLE VARCHAR(45) NOT NULL,
    COURSE_ID INT primary key, 
    SCHEDULE varchar(45),
    ROOM int,
    LOCATION varchar(45))
    
"""

# Notify: 

cursor = database.cursor()
Result = cursor.execute(courses)
print("Table CLASSES created successfully ")

ProgrammingError: 1050 (42S01): Table 'classes' already exists

In [23]:
# Insert data into table: 
cursorObject. execute("INSERT INTO INTERNATIONAL_STUDENT VALUES ('Information_security','INS306203','Wednesday',601, 'Xuan_Thuy')")

DataError: 1136 (21S01): Column count doesn't match value count at row 1