# Install MySQL connector module
pip install mysql-connector-python

In [2]:
# importing required libraries
import mysql.connector

In [3]:
database = mysql.connector.connect(
  host ="localhost",
  user ="root",
  passwd ="24122004"
)
 
print(database)

<mysql.connector.connection_cext.CMySQLConnection object at 0x00000286956BE950>

In [4]:
# preparing a cursor object
cursorObject = database.cursor()

In [7]:
# Create databse
cursorObject.execute("CREATE DATABASE STUDENT_INFORMATION")

In [8]:
# Connect to database: 

if database .is_connected():
        db_Info = database.get_server_info()
        print("Connected to MySQL Server version ", db_Info)
        cursor = database.cursor()
        #Use the cursor() method of a MySQLConnection object to create a cursor object to perform various SQL operations.
        # The execute() methods run the SQL query and return the result.
        cursor.execute("USE STUDENT_INFORMATION;")

        # Extract results: 
        record = cursor.fetchone()     
        print("Connected to database", record)

Connected to MySQL Server version  8.1.0
Connected to database None

In [6]:
# Drop database
try: 
    cursorObject.execute("DROP DATABASE IF EXISTS STUDENT_INFORMATION")
    print("Drop database")
except: 
    database.rollback()    # Roll back database

Drop database

In [30]:
# Create databse
cursorObject.execute("CREATE DATABASE STUDENT_INFORMATION")

In [70]:
# Create table international student: 

cursor.execute("USE STUDENT_INFORMATION;")
studentRecord = """CREATE TABLE INTERNATIONAL_STUDENT( 
    NAME VARCHAR(20) NOT NULL,
    STUDENT_ID INT NOT NULL AUTO_INCREMENT, 
    PRIMARY KEY(STUDENT_ID),
    ADDRESS VARCHAR(50),
    GENDER VARCHAR(50),
    AGE INT, 
    CLASS_ID VARCHAR(50),
    INDEX (CLASS_ID),
    FOREIGN KEY (CLASS_ID) REFERENCES CLASSES(COURSE_ID))"""

# Notify: 

cursor = database.cursor()
Result = cursor.execute(studentRecord)
print("Student Record created successfully ")

Student Record created successfully

In [66]:
cursorObject.execute("drop table international_student;")

In [67]:
cursorObject.execute("drop table classes;")

In [68]:
# Create table Classes: 
cursor.execute("USE STUDENT_INFORMATION;")
courses = """CREATE TABLE CLASSES( 
    COURSE_TITLE VARCHAR(225) NOT NULL,
    COURSE_ID VARCHAR(50) NOT NULL,
    PRIMARY KEY(COURSE_ID),
    SCHEDULE varchar(225),
    ROOM int,
    LOCATION varchar(225))"""

# Notify: 

cursor = database.cursor()
Result = cursor.execute(courses)
print("Table CLASSES created successfully ")

Table CLASSES created successfully

In [69]:
# Insert data into table: 
cursorObject. execute("INSERT INTO CLASSES VALUES ('Information_security','INS306203','Wednesday',601,'Xuan_Thuy')")
cursorObject. execute("INSERT INTO CLASSES VALUES ('Economic_Statistics','INS200401','Monday',402,'TVB')")
cursorObject. execute("INSERT INTO CLASSES VALUES ('Advanced_Mathematics','MAT109207','Tuesday',601,'Hacinco')")
cursorObject. execute("INSERT INTO CLASSES VALUES ('Microeconomics','INE105005','Wednesday',601,'Xuan_Thuy')")
cursorObject. execute("INSERT INTO CLASSES VALUES ('Fundamentals_of_Finance','INS201505','Tuesday',407,'TVB')")
cursorObject. execute("INSERT INTO CLASSES VALUES ('Introduction_to_Data Science','INS325401','Thursday',604,'TVB')")
cursorObject. execute("INSERT INTO CLASSES VALUES ('Econometrics','INS304902','Thursday',506,'Hacinco')")
cursorObject. execute("INSERT INTO CLASSES VALUES ('Databases','INS208004','Wednesday',401,'TVB')")

In [62]:
# Insert data into table: 
cursorObject. execute("INSERT INTO INTERNATIONAL_STUDENT (NAME, ADDRESS, GENDER, AGE) VALUES ('Phuong','Hanoi','Female', 18)")
cursorObject. execute("INSERT INTO INTERNATIONAL_STUDENT(NAME, ADDRESS, GENDER, AGE) VALUES ('An','Thai_Binh','Male', 19)")
cursorObject.execute("INSERT INTO INTERNATIONAL_STUDENT (NAME, ADDRESS, GENDER, AGE) VALUES ('PA','Hoa_Binh','Female', 19)")
cursorObject.execute("INSERT INTO INTERNATIONAL_STUDENT (NAME, ADDRESS, GENDER, AGE) VALUES ('Ninh_Hai','Hai_Duong','Female', 19)")
cursorObject.execute("INSERT INTO INTERNATIONAL_STUDENT (NAME, ADDRESS, GENDER, AGE) VALUES ('Duc_Nam','Tuyen_Quang','Male', 20)")
cursorObject. execute("INSERT INTO INTERNATIONAL_STUDENT (NAME, ADDRESS, GENDER, AGE) VALUES ('Hoa_Ngoc','Hung_Yen','Female', 19)")
cursorObject. execute("INSERT INTO INTERNATIONAL_STUDENT (NAME, ADDRESS, GENDER, AGE) VALUES ('Thanh_Phuong','Nam_Dinh','Male', 20)")
cursorObject. execute("INSERT INTO INTERNATIONAL_STUDENT (NAME, ADDRESS, GENDER, AGE) VALUES ('Trung','Ha_Noi','Male', 22)")

print("Insert completed")
database.commit()

Insert completed

In [63]:
# Print data from table: 
cursorObject.execute("""SELECT * FROM INTERNATIONAL_STUDENT""")
student_data= cursorObject.fetchall()
for i in student_data: 
    print(i)

('Phuong', 2, 'Hanoi', 'Female', 18, None)
('An', 3, 'Thai_Binh', 'Male', 19, None)
('PA', 4, 'Hoa_Binh', 'Female', 19, None)
('Ninh_Hai', 5, 'Hai_Duong', 'Female', 19, None)
('Duc_Nam', 6, 'Tuyen_Quang', 'Male', 20, None)
('Hoa_Ngoc', 7, 'Hung_Yen', 'Female', 19, None)
('Thanh_Phuong', 8, 'Nam_Dinh', 'Male', 20, None)
('Trung', 9, 'Ha_Noi', 'Male', 22, None)
('Phuong', 10, 'Hanoi', 'Female', 18, None)
('An', 11, 'Thai_Binh', 'Male', 19, None)
('PA', 12, 'Hoa_Binh', 'Female', 19, None)
('Ninh_Hai', 13, 'Hai_Duong', 'Female', 19, None)
('Duc_Nam', 14, 'Tuyen_Quang', 'Male', 20, None)
('Hoa_Ngoc', 15, 'Hung_Yen', 'Female', 19, None)
('Thanh_Phuong', 16, 'Nam_Dinh', 'Male', 20, None)
('Trung', 17, 'Ha_Noi', 'Male', 22, None)

In [15]:
# Update data: 
student_update = "UPDATE INTERNATIONAL_STUDENT SET AGE = 21 WHERE NAME = 'Duc_Nam'"
cursorObject.execute(student_update)
database.commit()
print("Updated sucessfully")

Updated sucessfully

In [35]:
# Print the table: 
cursorObject.execute("""SELECT * FROM INTERNATIONAL_STUDENT""")
student_data= cursorObject.fetchall()
for i in student_data: 
    print(i)

('Duc_Nam', 21060742, 'Tuyen_Quang', 'Male', 20, 'INS201505')
('Thanh_Phuong', 21060809, 'Nam_Dinh', 'Male', 20, 'MAT109207')
('Trung', 21080792, 'Ha_Noi', 'Male', 22, 'INS200401')
('Hoa_Ngoc', 22070613, 'Hung_Yen', 'Female', 19, 'INE105005')
('An', 22070632, 'Thai_Binh', 'Male', 19, 'INS208004')
('PA', 22070645, 'Hoa_Binh', 'Female', 19, 'INS304902')
('Ninh_Hai', 22070682, 'Hai_Duong', 'Female', 19, 'INS325401')
('Phuong', 22070782, 'Hanoi', 'Female', 18, 'INS306203')

In [36]:
# DELETE DATA FROM TABLE: 
query = "DELETE FROM INTERNATIONAL_STUDENT WHERE NAME = 'Phuong'"
cursorObject.execute(query)
database.commit()
cursorObject. execute("INSERT INTO INTERNATIONAL_STUDENT VALUES ('Phuong', 22070782,'Hanoi','Female', 18, 'INS306203')")

In [40]:
cursor.execute("USE STUDENT_INFORMATION;")
courses = """CREATE TABLE CLASSES( 
    COURSE_TITLE VARCHAR(225) NOT NULL,
    CLASS_ID VARCHAR(50), 
    SCHEDULE varchar(225),
    ROOM int,
    LOCATION varchar(225))
    
"""

# Notify: 

cursor = database.cursor()
Result = cursor.execute(courses)
print("Table CLASSES created successfully ")

Table CLASSES created successfully

In [38]:
cursorObject.execute("Drop table classes")

In [61]:
# Insert data into table: 
cursorObject. execute("INSERT INTO CLASSES VALUES ('Information_security','INS306203','Wednesday',601,'Xuan_Thuy')")
cursorObject. execute("INSERT INTO CLASSES VALUES ('Economic_Statistics','INS200401','Monday',402,'TVB')")
cursorObject. execute("INSERT INTO CLASSES VALUES ('Advanced_Mathematics','MAT109207','Tuesday',601,'Hacinco')")
cursorObject. execute("INSERT INTO CLASSES VALUES ('Microeconomics','INE105005','Wednesday',601,'Xuan_Thuy')")
cursorObject. execute("INSERT INTO CLASSES VALUES ('Fundamentals_of_Finance','INS201505','Tuesday',407,'TVB')")
cursorObject. execute("INSERT INTO CLASSES VALUES ('Introduction_to_Data Science','INS325401','Thursday',604,'TVB')")
cursorObject. execute("INSERT INTO CLASSES VALUES ('Econometrics','INS304902','Thursday',506,'Hacinco')")
cursorObject. execute("INSERT INTO CLASSES VALUES ('Databases','INS208004','Wednesday',401,'TVB')")

In [64]:
# Print the table: 
cursorObject.execute("""SELECT * FROM CLASSES""")
class_data= cursorObject.fetchall()
for i in class_data: 
    print(i)

('Microeconomics', 'INE105005', 'Wednesday', 601, 'Xuan_Thuy')
('Economic_Statistics', 'INS200401', 'Monday', 402, 'TVB')
('Fundamentals_of_Finance', 'INS201505', 'Tuesday', 407, 'TVB')
('Databases', 'INS208004', 'Wednesday', 401, 'TVB')
('Econometrics', 'INS304902', 'Thursday', 506, 'Hacinco')
('Information_security', 'INS306203', 'Wednesday', 601, 'Xuan_Thuy')
('Introduction_to_Data Science', 'INS325401', 'Thursday', 604, 'TVB')
('Advanced_Mathematics', 'MAT109207', 'Tuesday', 601, 'Hacinco')

In [48]:
cursorObject.execute("""SELECT INTERNATIONAL_STUDENT.NAME,CLASSES.COURSE_TITLE
                     FROM INTERNATIONAL_STUDENT
                     CROSS JOIN CLASSES
                     WHERE INTERNATIONAL_STUDENT.CLASS_ID= CLASSES.CLASS_ID""")

InternalError: Unread result found