# Install MySQL connector module
pip install mysql-connector-python

In [57]:
# importing required libraries
import mysql.connector

In [58]:
database = mysql.connector.connect(
  host ="localhost",
  user ="root",
  passwd ="24122004"
)
 
print(database)

<mysql.connector.connection_cext.CMySQLConnection object at 0x00000248B8D9ECD0>

In [59]:
# preparing a cursor object
cursorObject = database.cursor()

In [60]:
# Connect to database: 

if database .is_connected():
        db_Info = database.get_server_info()
        print("Connected to MySQL Server version ", db_Info)
        cursor = database.cursor()
        #Use the cursor() method of a MySQLConnection object to create a cursor object to perform various SQL operations.
        # The execute() methods run the SQL query and return the result.
        cursor.execute("USE STUDENT_INFORMATION;")

        # Extract results: 
        record = cursor.fetchone()     
        print("Connected to database", record)

Connected to MySQL Server version  8.1.0
Connected to database None

In [82]:
# Drop database
try: 
    cursorObject.execute("DROP DATABASE IF EXISTS STUDENT_INFORMATION")
    print("Drop database")
except: 
    database.rollback()    # Roll back database

Drop database

In [83]:
# Create databse
cursorObject.execute("CREATE DATABASE STUDENT_INFORMATION")

In [85]:
# Creating table: 

cursor.execute("USE STUDENT_INFORMATION;")
studentRecord = """CREATE TABLE INTERNATIONAL_STUDENT( 
    NAME VARCHAR(20) NOT NULL,
STUDENT_ID INT PRIMARY KEY, 
ADDRESS VARCHAR(50),
GENDER VARCHAR(50),
AGE INT , 
COURSE_ID VARCHAR(50))"""

# Notify: 

cursor = database.cursor()
Result = cursor.execute(studentRecord)
print("Student Record created successfully ")

Student Record created successfully

In [86]:
# Insert data into table: 
cursorObject. execute("INSERT INTO INTERNATIONAL_STUDENT VALUES ('Phuong', 22070782,'Hanoi','Female', 18, 'INS306203')")
cursorObject. execute("INSERT INTO INTERNATIONAL_STUDENT VALUES ('An', 22070632,'Thai_Binh','Male', 19, 'INS208004')")
cursorObject.execute("INSERT INTO INTERNATIONAL_STUDENT VALUES ('PA', 22070645,'Hoa_Binh','Female', 19, 'INS304902')")
cursorObject.execute("INSERT INTO INTERNATIONAL_STUDENT VALUES ('Ninh_Hai', 2207082,'Hai_Duong','Female', 19, 'INS325401')")
cursorObject.execute("INSERT INTO INTERNATIONAL_STUDENT VALUES ('Duc_Nam', 21060742,'Tuyen_Quang','Male', 20, 'INS201505')")
print("Insert completed")
database.commit()

Insert completed

In [87]:
# Print data from table: 
cursorObject.execute("""SELECT * FROM INTERNATIONAL_STUDENT""")
student_data= cursorObject.fetchall()
for i in student_data: 
    print(i)

('Ninh_Hai', 2207082, 'Hai_Duong', 'Female', 19, 'INS325401')
('Duc_Nam', 21060742, 'Tuyen_Quang', 'Male', 20, 'INS201505')
('An', 22070632, 'Thai_Binh', 'Male', 19, 'INS208004')
('PA', 22070645, 'Hoa_Binh', 'Female', 19, 'INS304902')
('Phuong', 22070782, 'Hanoi', 'Female', 18, 'INS306203')

In [88]:
# Update data: 
student_update = "UPDATE INTERNATIONAL_STUDENT SET AGE = 21 WHERE NAME = 'Duc_Nam'"
cursorObject.execute(student_update)
database.commit()
print("Updated sucessfully")

Updated sucessfully

In [89]:
# Print the table: 
cursorObject.execute("""SELECT * FROM INTERNATIONAL_STUDENT""")
student_data= cursorObject.fetchall()
for i in student_data: 
    print(i)

('Ninh_Hai', 2207082, 'Hai_Duong', 'Female', 19, 'INS325401')
('Duc_Nam', 21060742, 'Tuyen_Quang', 'Male', 21, 'INS201505')
('An', 22070632, 'Thai_Binh', 'Male', 19, 'INS208004')
('PA', 22070645, 'Hoa_Binh', 'Female', 19, 'INS304902')
('Phuong', 22070782, 'Hanoi', 'Female', 18, 'INS306203')

In [90]:
# DELETE DATA FROM TABLE: 
query = "DELETE FROM INTERNATIONAL_STUDENT WHERE NAME = 'Phuong'"
cursorObject.execute(query)
database.commit()
cursorObject. execute("INSERT INTO INTERNATIONAL_STUDENT VALUES ('Phuong', 22070782,'Hanoi','Female', 18, 'INS306203')")

In [70]:
cursor.execute("USE STUDENT_INFORMATION;")
courses = """CREATE TABLE COURSES( 
    COURSE_TITLE VARCHAR(20) NOT NULL,
    COURSE_ID INT NOT NULL, 
    PRICE FLOAT)
    
"""

# Notify: 

cursor = database.cursor()
Result = cursor.execute(courses)
print("Table Courses created successfully ")

Table Courses created successfully

In [71]:
cursor.execute("USE STUDENT_INFORMATION;")
international_class = """CREATE TABLE CLASS( 
    COURSE_TITLE VARCHAR(20) NOT NULL,
    CLASS_ID INT NOT NULL, 
    NUM_LECTURES INT NOT NULL,
    LEVEL VARCHAR(50))
    
"""

# Notify: 

cursor = database.cursor()
Result = cursor.execute(international_class)
print("Table Class created successfully ")

Table Class created successfully